* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #09090A;
    height: 100vh;    
}

button {
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #8b5cf6;
    background-color: transparent;
    color: #ffffff;
    gap: 12px;

    display: flex;
    align-items: center;
}


  


