* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    color: #ffffff;
    font-size: 16px;
    background-color: #09090A;
    border: 1px solid #8B5CF6;
    border-radius: 8px;
    width: 216px;
    height: 52px;

}
  
body {
    background-color: #09090A;

    height: 100vh;    

}

